<div class="w-full h-full flex text-white" >
    <div class="w-full h-full flex justify-center items-center">
        <mat-card appearance="outlined" class="w-[60%] h-[70%] p-5">
            <mat-card-title class="py-3">Sign Up</mat-card-title>

            <mat-card-content>
                <form (ngSubmit)="submit()" [formGroup]="form" class="flex flex-col gap-2">
                    <div class="flex w-full gap-4">
                        <mat-form-field appearance="outline" class="w-full">
                            <mat-label>FirstName</mat-label>
                            <input matInput formControlName="firstname" name="firstname" placeholder="firstname" type="text">
                            <mat-error *ngIf="form.touched && form.get('firstname')?.errors">First Name is required.</mat-error>
                        </mat-form-field>
                        <mat-form-field appearance="outline" class="w-full">
                            <mat-label>Lastname</mat-label>
                            <input matInput formControlName="lastname" name="lastname" placeholder="lastname" type="text">
                            <mat-error *ngIf="form.touched && form.get('lastname')?.errors">Last Name is required.</mat-error>
                        </mat-form-field>
                    </div>

                    <mat-form-field appearance="outline" class="w-full">
                        <mat-label>Email</mat-label>
                        <input matInput formControlName="email" name="email" placeholder="email" type="email">
                        <mat-error *ngIf="form.touched && form.get('email')?.errors">Email is required.</mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="w-full">
                        <mat-label>Username</mat-label>
                        <input #usernameInput="matInput" matInput formControlName="username" name="username" placeholder="username" type="text">
                        <mat-error *ngIf="form.touched && form.get('username')?.errors">Username is required and must be at least 3 characters.</mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="w-full">
                        <mat-label>Password</mat-label>
                        <input matInput formControlName="password" name="password" placeholder="password" type="password">
                        <mat-error *ngIf="form.touched && form.get('password')?.errors">Password is required.</mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="w-full">
                        <mat-label>Retype Password</mat-label>
                        <input matInput formControlName="retypePassword" name="retypepassword" placeholder="retypepassword" type="password">
                        <mat-error *ngIf="form.touched && form.get('retypepassword')?.errors">Password is required.</mat-error>
                    </mat-form-field>

                    <button mat-button color="primary" [disabled]="form.untouched || form.invalid || isBusy" type="submit">{{isBusy ? 'Submitting...' : 'Submit'}}</button>

                </form>
            </mat-card-content>
        </mat-card>
    </div>
</div>
